<!DOCTYPE html>
    <html>
        <head>
        <html lang="pt-br">
        <meta charset="UTF-8">
        <meta name="author" content="Eduardo Maas, Tiago Tramontin">
        <meta name="description" content="Aqui, a internet é mais perto de você, venha conferir nossos serviços e planos!">
		<meta name="keywords" content="Internet, Rede, Operadora, Acesso à internet">
        <title>TecFast</title>
        <link rel="stylesheet" type="text/css" href="css/entre.css">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Oxygen&display=swap" rel="stylesheet">
    
    </head>
    <body>
        <div class="contato">
            <form class="campos">
              <label class="">
                Seu nome:
                <input type="text" name="name" id="name" placeholder="Digite seu Nome" required />
              </label>
              <label class="">
                Seu Email:
                <input type="email" name="name" id="name" placeholder="@email.com" required />
              </label>
              <label class="">
                <label class="">
                    Seu Telefone:
                    <input type="text" name="telefone" id="telefone" placeholder="(00) 0000-0000" required />
                  </label>
                  <label class="">
                    <div class="form-group col-md-4">
                        <label for="inputEstado">Seu Estado:</label>
                        <select id="inputEstado" class="form-control">
                            <name="estados-brasil">
                                <option >Selecione seu estado...</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            
                        </select>
                      </div>
                      <label class="">
                        <label class="">
                            Sua Cidade:
                            <input type="text" name="Cidade" id="Cidade" placeholder="Digite sua cidade" required />
                          </label>
              <label class="">
                Mande sua Mensagem:
                <textarea name="message" rows="4" placeholder="Escreva sua Mensagem" required></textarea>
              </label>
              <div class="text-center add-sm-top">
                <button class="limpar" type="reset"><i class="fa fa-times"></i> &nbsp; Limpar</button>
                <button class="enviar" type="submit"><i class="fa fa-envelope"></i> &nbsp; Enviar</button>
              </div>
            </form>
          </div>
          
          <div class="final">
           TecFast
          </div>
      </body>
    </html>